:root {
    --background: #ffffff;
    --text-primary: #000;
    --text-secondary: #0066b2;
    --accent: #8e05c2;
    --border: #333;
    --form-bg: rgb(236, 233, 233);
    --form-bg: #fff;
}

[data-theme='dark'] {
    --background: #000;
    --text-primary: #fff;
    --text-secondary: #0066b2;
    --accent: #8e05c2;
    --border: #808080;
    --form-bg: #191919;
}

.sidenavCont{
   display:flex;
   color:gray;
   height:600px;
   width:20vw;
   background-color: var(--background);
}


.small-text {
    display: inline-block;
    border: 1px solid var(--text-secondary);
    padding: 2px 5px;
    font-size: 10px;
    margin-left: 7px;
    margin-bottom: -14px;
    color:var(--text-secondary);
    border-radius: 3px;
}
.menu{
    color:var(--text-primary);
    font-size: 17px;
}

.main-icon {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    margin-bottom: 25px;
    border-radius: 50%;
}

.textB {
    font-size: 17px;
    margin-top: 10px;
    color:var(--text-primary);
}

.toggle:hover{
    background-color:var(--form-bg);
}

.toggle{
    background-color:var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    width:55px;
    margin-top: 20px;
    height: 55px;
    margin-left: 15px;
    border-radius: 50%;
    border:3px solid var(--background);
}



.sidebar-toggle {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    margin-top: 5px;
    height: 35px;
    margin-left: 15px;
    border:3px solid var(--background);
}

.round-icon {
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    margin-bottom: 5px;
    /* border: 3px solid red; */
}

.round-icon:hover {
    background-color: var(--form-bg);
    border-radius: 0px 50px 50px 0px ;
    width:200px
}

.icon {
    margin-right: 3px;
}

.text {
    font-size: 17px;
    margin-left: 10px;
    color:var(--text-primary);
}
.nav{
    display: flex;
    flex-direction: column;
}


.topnav{
    display: flex;
    width:100%;
    height:80px;
    background-color: var(--background);
    justify-content: space-between;
    align-items: center;
}

.theme-toggle {
    position: absolute;
    bottom: 0;
    left: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--background);
    border-top: 1px solid var(--border);
    margin-bottom: 30px;
    cursor: pointer;
}

.theme-toggle:hover{
    background-color: var(--form-bg);
    border-radius: 0px 50px 50px 0px;
    width: auto
}

.theme-toggle h2 {
    margin: 0;
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
}

.theme-toggle svg {
    fill: var(--text-primary);
    font-size: 25px;
}


.toggle .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: var(--background);
    color: var(--text-primary);
    padding: 10px 18px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toggle:hover .tooltip {
    top: 60px;
    opacity: 1;
    pointer-events: auto;
}

.toggle .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background:var(--background);
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
