:root {
    --background: #ffffff;
    --text-primary: #000;
    --text-secondary: #0066b2;
    --accent: #8e05c2;
    --border: #333;
    --form-bg: rgb(236, 233, 233);
    --splcolor:gray;
}

[data-theme='dark'] {
    --background: #000;
    --text-primary: #fff;
    --text-secondary: #0066b2;
    --accent: #8e05c2;
    --border: #808080;
    --form-bg: #191919;
}

.contBox{
    display: flex;
    position: absolute;
    left:20vw;
    width:79vw;
    background-color: var(--background);
    margin-top: -602px;
    height:600px;
    color:var(--splcolor);
    }

.box{
    width:90%;
    height:500px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:160px;
    background-color: var(--form-bg);
}

.card{
    display: grid;
    margin: auto;
    grid-template-columns: 5% 85%;
    width:90%;
    height:auto;
    justify-content: center;
    align-items: center;
    background-color: var(--background);  
    border-radius: 30px;
    padding: 20px;
    gap:10px;
}

.first{
    margin-top: 20px;
    height:90%;
}
.first img{
    width:40px
}
.second {
    height:90%;
    text-align: left;
}

.second p:nth-child(1), .second p:nth-child(2){
    color:var(--text-primary);
    font-weight: 600;
}

.second p:nth-child(3),
.second p:nth-child(4),
.second p:nth-child(5)
 {
    color: var(--text-secondary);
    font-weight: 600;
}

.second p:nth-child(3):hover,
.second p:nth-child(4):hover,
.second p:nth-child(5):hover {
    background-color: var(--form-bg);
    cursor: pointer;
    width:fit-content
}

.incard{
    display: flex;
    height:50px;
    border: 2px solid var(--splcolor);
    width:82%;
    margin: auto;
    border-radius: 30px;
    justify-content: space-between;
    align-items:center;
}

.incard:hover{
    border: 2px solid var(--text-secondary);
}

.incard input{
    color:var(--splcolor);
    background-color:var(--form-bg);
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    margin-left: 20px;
}

.incard span {
    font-size: 25px;
    font-weight: 600;
    color: var(--splcolor);
    width: 30px;
    height: 30px;
    margin-right: 30px;
    box-sizing:border-box
}

.incard span:hover{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--form-bg); 
}


/* media queries */


@media (max-width: 480px) {
    .contBox {
        left: 10vw;
        width: 80vw;
        margin-top: -502px;
        height: 500px;
    }

}
@media (min-width: 250px) and (max-width: 950px) {
    .card{
        margin-top: 20px;
    }
    .first{
        margin-left: -30px;
    }
}

@media (min-width: 250px) and (max-width: 550px) {
    .card {
        margin-top: 50px;
    }

    .first, .second{
       font-size: 15px;
    }
}

@media (min-width: 400px) and (max-width: 950px) {
    .incard {
        margin-bottom: 30px;
    }
}


@media (min-width: 200px) and (max-width: 399px) {
    .incard {
        margin-bottom: 50px;
    }
}

@media (min-width: 200px) and (max-width: 450px) {
    .incard input {
        width: 100px
    }
}



@media (min-width: 200px) and (max-width: 850px) {
    .contBox {
        left: 18vw;
        width: 80vw;
        margin-top: -600px;
        height: 600px;
    }

    .incard {
        margin-top: -120px;
    }

    .card{
        width:80%;
        height: auto;        
    }
}

